{{define "yield"}}
    <p>Ваше имя: {{.Data.Guest.Name}}</p>
    <p><i>У вас права администратора. Но пока вы всё равно не можете ими воспользоваться</i></p>
    <p>Лучше переходите по ссылке для обычных гостей, там сейчас красивее, чем здесь...</p>
    <h3>На встрече также присутствуют:</h3>
    <ul>
        {{range .Data.Guests}}
            <li>{{.Name}}{{if .IsAdmin}} <b>admin</b>{{end}}</li>
        {{end}}
    </ul>
{{end}}