{{define "yield"}}
    <h1>Это не так, ШАГОСЛАВ!</h1>
    <p>Добро пожаловать в сервис <b>Шаги онлайн</b>!</p>
    <p>Здесь проходят онлайн встречи сообществ, проходящих программу <b>12 шагов</b>.
    Вы можете создать новую встречу, пройдя по ссылке в личный кабинет.</p>
    <a href="/group">Личный кабинет</a>
{{end}}